<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


        <meta charset="UTF-8" />
        <title> mentions légales </title>
        <meta name="description" content="Jeu concours The TipTop."/>
        <meta name="keywords" content="TipTop ,Thé, jeu concours"/>
        <meta name="ROBOTS" content="INDEX, FOLLOW">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="The TipTop">




        <link rel="icon" href="{{ asset('uploads/images/the-logo.png') }}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    </head>

<body>
<br>
 <div class="container" >
<center><h2>Conditions générales de vente</h2></center>
<br><br><br><br>
<h2>1 - Édition du site </h2>

<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet http://dsp-archiwebf21-yb.fr/ l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:

Propriétaire du site : ThéTipTop - Contact : marc.verriere.pro@gmail.com 0662822726 - Adresse : 9 place lachambeaudie.

Identification de l'entreprise : SAS ThéTipTop au capital social de 1500000€ - SIREN : 82390047800011 - RCS ou RM : - Adresse postale : 9 place lachambeaudie

Directeur de la publication : FuriousDuck - Contact : ThéTipTop.

Hébergeur : AutreGoocle Cloud Platform https://console.cloud.google.com/?hl=fr

Délégué à la protection des données : Marc Verriere - marc.verriere.pro@gmail.com </p>

<br>
<h2>2 - Propriété intellectuelle et contrefaçons.</h2>

<p>ThéTipTop est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.

Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de ThéTipTop.

Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.

</p>
<br>
<h2>3 - Limitations de responsabilité.</h2>
<p>
ThéTipTop ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site http://dsp-archiwebf21-yb.fr/.

ThéTipTop décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur http://dsp-archiwebf21-yb.fr/.

ThéTipTop s’engage à sécuriser au mieux le site http://dsp-archiwebf21-yb.fr/, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.

Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. ThéTipTop se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.

Le cas échéant, ThéTipTop se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
</p>
<br>
<h2>4 - CNIL et gestion des données personnelles.</h2>
<p>
Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site http://dsp-archiwebf21-yb.fr/ dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Marc Verriere - marc.verriere.pro@gmail.com.

Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...)
</p>
<br>
<h2>5 - Liens hypertextes et cookies </h2>
<p>
Le site http://dsp-archiwebf21-yb.fr/ contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers http://dsp-archiwebf21-yb.fr/.

La navigation sur le site http://dsp-archiwebf21-yb.fr/ est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.

Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.

Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement.

Les cookies sont enregistrés pour une durée maximale de 6 mois.

Pour plus d'informations sur la façon dont nous faisons usage des cookies.

</p>
<br>
<h2>6 - Droit applicable et attribution de juridiction.</h2>
<p>
Tout litige en relation avec l’utilisation du site http://dsp-archiwebf21-yb.fr/ est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.
</p>
</div>
</body>