{% extends 'base.html.twig' %}

{% block title %}Thé TipTop | Jeu Concours{% endblock %}
        {% block stylesheets %}
        <style>
.jumbotron{
      background-image: url("uploads/images/bgimage.avif");
    background-size: cover;

    background-repeat: no-repeat;
}
.cad{

  margin: 0 auto;
}

.cookie-container {
  position: fixed;
  bottom: 15%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}
.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #ffffff;
  border: 0;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#ck1{
color: #ffffff !important;
}
#ck2{
  color: #ffffff !important;
}
#ck3{
  color: #000000 !important;
}
.hide {
  visibility: hidden;
  bottom: 0;

}
.show {
  visibility: visible;
  bottom: 15%;
}

        </style>
       
        {% endblock %}
{% block body %}




<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity:0.85;">
  <div class="container">
    <a class="navbar-brand" href="/">Thé TipTop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.roles[0] == "ROLE_ADMIN" %}
 <li class="nav-item">
                <a class="nav-link" href="/employe">Gestion des gains</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Liste des participants</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="/admin/employes" >Liste des employés</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/groslot">Le gros lot</a>
            </li>
            {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.roles[0] == "ROLE_EMPLOYE" %}
            <li class="nav-item">
                <a class="nav-link" href="/employe">Gestion des gains</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Liste des participants</a>
            </li>

            {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.roles[0] == "ROLE_USER" %}

         <li class="nav-item">
                <a class="nav-link" href="/bienvenu" id="ticketsRecord">Je participe</a>
            </li>

               {% endif %}
      </ul>  
      
      <form class="d-flex">
  
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}    
           <ul class="navbar-nav me-auto">
               <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/profil">Mon profil</a>
            </li> 
         <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/logout">Déconnexion</a>
         </li>

          {% else %}   
         <li class="nav-item d-flex">
               <a class="nav-link" style="color:white;" href="/login">Connexion</a>
            </li>
            &nbsp;  &nbsp;
         <li class="nav-item d-flex">
              <a class="nav-link" style="color:white;" href="/register">Inscription</a>
            </li>
            
           {% endif %}   
        </ul>      
      </form>

     
    </div>
  </div>  
</nav>

<br>
<div class="container">
<center><h1> Vous souhaitez nous contacter ?</h1></center>
<center><h3>Une tasse de thé avec l'équipe.</h3></center>
<center>
<div class="col-6">
<p>Du lundi au samedi, de 8h à 17h, nos employés répondent à toutes vos questions  (achats, livraison, cadeaux, etc.). 
En fonction de votre situation,le conseiller pourra vous proposer un rendez-vous.
</p>
</div>
</center>
     <div class="row justify-content-center">
<div class="col-10">
{% for message in app.session.flashbag.get('Success') %}
<div class="row justify-content-center">
<div class="alert alert-dismissible alert-success col-8 ">
  <h4 class="alert-heading"> {{ message }}</h4>
</div>
</div>
<br>
<br>
{% endfor %}
 <div class="card border-primary mb-3">
<form action="/mail" method="POST">

   <div class="row justify-content-center">
    <div class="col-10">
      <label for="email" class="form-label mt-4">Email </label><span style="color:red;">*</span>
      <input type="email" class="form-control" id="email"  placeholder="Entrez votre Email" name="mail" required>
    </div>
   </div>

    <div class="row justify-content-center">
    <div class="col-10">
      <label for="objet" class="form-label mt-4">Objet </label><span style="color:red;">*</span>
      <input type="text" class="form-control" id="objet" name="objet" required>
    </div>
   </div>

    <div class="row justify-content-center">
    <div class="col-10">
      <label for="message" class="form-label mt-4">Message </label><span style="color:red;">*</span>
      <textarea class="form-control" id="exampleTextarea" rows="3" name="message" required></textarea>
    </div>
   </div>

    <div class="row justify-content-center">
    <div class="col-10">
      <div class="form-check form-switch mt-4">
        <input class="form-check-input " type="checkbox" id="accept"  required>
        <label class="form-check-label" for="accept">Checked switch checkbox input</label><span style="color:red;">*</span>
      </div>
      </div>
    </div>


    <div class="row justify-content-center mb-3">
      <div class="col-6 mt-4">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-success" type="submit">Envoyer</button>
        </div>
      </div>
    </div>


</form>
</div>
</div>
</div>
</div>
 



{% endblock %}
