{% extends 'base.html.twig' %}

{% block title %}Notre Histoire{% endblock %}
        {% block stylesheets %}

       
        {% endblock %}
{% block body %}




<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity:0.85;">
  <div class="container">
    <a class="navbar-brand" href="/">Thé TipTop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>  
</nav>
<br><br><br>



 <div class="container" >
<center><h1>Histoire de Thé TipTop</h1></center>
<br><br><br>

  <div class="row">
    <div class="col">
<p>Thé Tip Top est l’histoire de deux amis, Sarah Lecoq et Nathalie Lambeau qui se sont rencontrées en Chine lors d’un semestre d’échange à l’étranger proposée par leur formation universitaire. Arrivées sur le territoire chinois,
 elles s’immiscèrent dans l’histoire du pays et commencèrent à porter un intérêt à la culture du thé.

Au retour de leur voyage, elles décidèrent de se lancer en affaire avec la création de Thé Tip Top.

Les deux associées ont une sensibilité à l’environnement et à la santé des individus. C’est la raison pour laquelle, 
Thé Tip Top offre des thés issus de l’agriculture biologique et de qualité supérieur. Proposant un large panel de thés en provenance de leur pays d’origine et de mélange d’exception,
 Thé Tip Top souhaite également faire voyager ses clients à travers la dégustation et en leur permettant de se faire plaisir.</p>
    </div>
    <div class="col">
     <img src="uploads/images/30318359-1.jpg"   width="500" height="230"/>
    </div>
  </div>
<br><br><br><br><br>
  <center ><h2 > Nos engagements :</h2><center>
<br>
  <div class="row">
    <div class="col">

    <img src="uploads/images/engagement.png" width="500" />
    </div>
  </div>


</div>



{% endblock %}
