{% extends 'base.html.twig' %}

{% block title %}Thé Tiptop{% endblock %}

{% block stylesheets %}
  
{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Thé TipTop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
         <li class="nav-item">
                <a class="nav-link" href="{{path('app_code_cadeau_check')}}" id="ticketsRecord">Mes gains</a>
            </li>
            
      </ul>
      <form class="d-flex">
    <ul class="navbar-nav me-auto">
       <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/profil">Mon profil</a>
            </li>
        <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/logout">Déconnexion</a>
            </li>
            </ul>
      </form>
    </div>
  </div>
</nav>






<br/> <br/> <br/><br/> <br/> <br/>

    <div class="container" >
        <div class="justify-content-center row">
            <div class="col-md-8" >
                <div class="card-group" >
                    <div class="text-white cardSubmitCodeCadeau py-5 d-md-down-none card" style="background-color: rgba(0, 0, 245, 0.5)">
                        <div class="text-center card-body">
                            <div class="col-12 contentCodeCadeau" id="blockCodeCadeau">
                                <h2 class="text-white">Veuillez rentrer le code cadeau de 10 chiffres se trouvant sur votre facture.</h2>
                                <p class="Bold" id="result"></p>
                                <br/>
                                <div class="row">
                                <div class="col-7">
                                <input id="codeCadeau" type="text" id="inp" placeholder="Entrez ici votre code cadeau !" class="form-control">
                                </div>
                                <div class="col-4">
                                <input type="button" id="submitCodeCadeau" value="Valider"  class="btn btn-success btn-block">
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                          

                            <div class="card border-success contentCodeCadeau col-sm-6 mt-4 " style="background-color: rgba(245, 225, 235, 0.8)" id="blockTicketcRecord" hidden=true >
                            <div class="card-body">
                            <h4 class="card-title">Mes Gains :</h4>
                            {% if ticketsCount > 0 %}
                            <p class="card-text" id="">Vous avez gagné <B>{{ ticketsCount }} </b> cadeau. Voici la liste des gains que vous avez déjà gagné :</p>
                            {% else %}
                             <p class="card-text" id="" style="font-size:18px"> Vous avez pas de gain .</p>
                            {% endif %}
                                <ul>
                                {% for ticket in ticketsOwnByUser %}
                                    <li style="list-style: none;">{{ ticket.ticket.title }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            </div>
 

<div class="container">
<br><br>
<center><h3>Participez et Gagnez avec Notre Jeu-Concours Exclusif :</h3></center>
<center><p style="font-size:18px">À l'occasion de l'ouverture de notre 10ème boutique à Nice, Thé Tip Top célèbre en offrant des récompenses garanties à chaque participation. 
Découvrez ci-dessous les trésors que vous pourriez débloquer avec votre achat de plus de 49€. Ne manquez pas votre chance de gagner !</p></center>

<center><p style="font-size:14px">Un tirage au sort pour remporter un an de thé d'une valeur de 360€ aura lieu après la fin de ce jeu concours. Ne manquez pas votre chance !</p></center>
<div class="row justify-content-center">

<div class="card border-secondary mb-3" style="max-width: 15rem; max-height: 30rem; margin-right: 1em;">
  <svg  class="d-block user-select-none mt-1" width="100%" height="10" >
    <img src="uploads/images/infuseur.png" alt="Boite de 100g - Thé détox ou infusion"/>
  </svg>
<hr>
<center><h4>Infuseur à thé</h4></center>
<center><p>60% des tickets offrent un infuseur à thé. Une manière élégante de savourer nos thés bios et handmades.</p></center>
</div>

<div class="card border-secondary mb-3" style="max-width: 15rem; max-height: 30rem; margin-right: 1em;">
  <svg  class="d-block user-select-none mt-1" width="100%" height="10" >
    <img src="uploads/images/boitedetox.png" alt="Boite de 100g - Thé détox ou infusion"/>
  </svg>
<hr>
<center><h4>Boite de 100g - Thé détox ou infusion</h4></center>
<center><p>20% des tickets offrent une boite de 100g d’un thé détox ou d’infusion. Découvrez nos mélanges uniques.</p></center>
</div>

<div class="card border-secondary mb-3" style="max-width: 15rem; max-height: 30rem; margin-right: 1em;">
  <svg  class="d-block user-select-none mt-1" width="100%" height="10" >
    <img src="uploads/images/boitesignature.png" alt="Boite de 100g - Thé détox ou infusion"/>
  </svg>
<hr>
<center><h4>Boite de 100g - Thé signature</h4></center>
<center><p>10% des tickets offrent une boite de 100g d’un de nos thés signature. Une sélection exclusive pour nos clients.</p></center>
</div>

<div class="card border-secondary mb-3" style="max-width: 15rem; max-height: 30rem; margin-right: 1em;">
  <svg  class="d-block user-select-none mt-1" width="100%" height="10" >
    <img src="uploads/images/coffret39.png" alt="Boite de 100g - Thé détox ou infusion" />
  </svg>
<hr>
<center><h4>Coffret découverte 39€</h4></center>
<center><p>6% des tickets offrent un coffret découverte d’une valeur de 39€. Explorez notre gamme de thés bios.</p></center>
</div>

<div class="card border-secondary mb-3" style="max-width: 15rem; max-height: 30rem; margin-right: 1em;">
  <svg  class="d-block user-select-none mt-1" width="100%" height="10" >
    <img src="uploads/images/coffret69.png" alt="Boite de 100g - Thé détox ou infusion" />
  </svg>
<hr>
<center><h4>Coffret découverte 69€</h4></center>
<center><p>4% des tickets offrent un coffret découverte d’une valeur de 69€. L’expérience ultime pour les amateurs de thé.</p></center>
</div>
</div>
</div>





</div>
</div>
<br><br><br><br><br><br><br><br><br><br>

<script>


$(document).on('click','#submitCodeCadeau',function(e){
    e.preventDefault();
    codeCadeau = document.getElementById('codeCadeau').value;
    if(codeCadeau.length != 10 || isNaN(codeCadeau)){
        result = document.getElementById('result');
        result.style = "color:red;";
        result.innerHTML = "Le code doit contenir 10 chiffres."
        setTimeout(function(){result.innerHTML = "Le code doit contenir 10 chiffres.";},2000);

    }
    else{
        $.ajax({
            url: 'codecadeau/check',
            method:'post',
            datatype:'json',
            data: {
                "codeCadeau" : codeCadeau
            },
            async:true,
            success: function($data){
                if($data === 0){
                    result = document.getElementById('result');
                    result.style = "color:red;";
                    result.innerHTML = "Le code à déjà été utilisé";
                    setTimeout(function(){result.innerHTML = "";},20000);
                }
                else if($data === 1){
                    result = document.getElementById('result');
                    result.style = "color:red;";
                    result.innerHTML = "Le délais pour obtenir votre gain est dépassé.";
                    setTimeout(function(){result.innerHTML = "";},20000);
                }
                else{
                    result = document.getElementById('result');
                    result.style = "color:white;";
                    result.innerHTML = "vous avez remporté un: "+$data+" !";
                    setTimeout(function(){result.innerHTML = "";},20000);
                }
            }
        });
    }
});

$(document).on('click','#ticketsRecord',function(e){
    e.preventDefault();
    blockCodeCadeau = document.getElementById('blockCodeCadeau');
    blockTicketcRecord = document.getElementById('blockTicketcRecord');
    blockCodeCadeau.hidden = false;
    blockTicketcRecord.hidden = false;

});

$(document).on('click','#enterCode',function(e){
    e.preventDefault();
    blockCodeCadeau = document.getElementById('blockCodeCadeau');
    blockTicketcRecord = document.getElementById('blockTicketcRecord');
    blockCodeCadeau.hidden = false;
    blockTicketcRecord.hidden = false;

});

</script>
{% endblock %}
