
h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cardCreatAccount{
    background-color: #8989e5;
}
.buttonSubmitLogin{
    background-color: #8989e5;
}
.buttonSubmitRegister{
    background-color: white;
}
.presentationOfTheGame{
    text-align: center;
}

