{% extends 'base.html.twig' %}

{% block title %}Thé Tiptop{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="topSideBar">
  <div class="container">


   
       

            {% if app.user.roles[0]== "ROLE_ADMIN" %}

               <a class="navbar-brand" href="/admin">Thé TipTop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/employe">Gestion des gains</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Liste des participants</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="/admin/employes" >Liste des employés</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/groslot">Le gros lot</a>
            </li>
          {% else %}
                          <a class="navbar-brand" href="/employe">Thé TipTop</a>
                          
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/employe">Gestion des gains</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Liste des participants</a>
            </li>
            {% endif %}
      </ul>
      <form class="d-flex">
       <ul class="navbar-nav me-auto">
       <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/profil">Mon profil</a>
            </li>
        <li class="nav-item d-flex">
                <a class="nav-link" style="color:white;" href="/logout">Déconnexion</a>
            </li>
            </ul>
      </form>
    </div>
  </div>  
</nav>
<br><br>


{% for message in app.session.flashbag.get('Erreur') %}
<div class="alert alert-dismissible alert-danger">
  <h4 class="alert-heading"> {{ message }}</h4>
</div>
<br>
{% endfor %} 

   <div class="container">
        <div class="justify-content-center row">
            <div class="col-md-8">
                <div class="card-group ">
                    <div class="text-white py-5 d-md-down-none card cardSubmitEmailCustomer" style="background-color: rgba(0, 0, 245, 0.5)">
                        <div class="text-center card-body" id="listCustomerTickets">
                            <div class="col-12 contentUserGain" id="blockUserGain">
                                <h2 class="text-white">Indiquez l'email du client pour voir ses gains :</h2>
                                <p id="result"></p>
                                <form method="POST" action="/employe/checkuser/checkcode">
                                <div class="input-group">
                                <div class="col-6">
                                <input name="mail" type="email" placeholder="Email" class="form-control">
                                </div>
                                <div class="col-4">
                                <input type="submit"  value="valider" class="btn btn-success btn-block">
                                </div>
                               </div>
                             </form>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
</div>
<br><br> <br> <br> <br>
<br> <br> <br><br><br>
<br> <br>  <br>  <br> <br> 
<br> 

       
   


{% endblock %}
